body {background-color: rgb(241, 241, 241);}

h2 {
  color: rgb(61, 149, 162);
  font-family: 'Times New Roman', Times, serif;
}

h3 {
  color:rgb(61, 149, 162);
  font-family: 'Times New Roman', Times, serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

table {
  align-self: center;
  align-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  box-shadow: 20px 20 px 20 px 5 px 
  rgb(178, 174, 174);
  text-align: left;
}
  
th {
    background-color: rgb(178, 174, 174);
    padding: 0.75rem 2rem;
    text-transform:uppercase;
    letter-spacing:0.1rem;
    font-size: 0.7rem;
    font-weight:900;
}

td {
  padding: 1rem 1rem;

}

tr:nth-child(even){
  background-color: rgb(220, 231, 238);
}
